@font-face {
	font-family: 'Ogg-Roman';
	src: url(font/Ogg-Roman.otf) format('opentype');
}
@media print {

	img{
		left: 0 !important;
	}

	#content,#page {
		width: 100%; 
		margin: 0; 
		float: none;
	}

	/** Setting margins */       
	@page {
		margin: 1.5cm  0.5cm 3cm 1.5cm;
	}



	body {

		line-height: 1.3;
		background: #fff !important;
		color: #000;
	}

	.wrapper {

	}
	h1 {
		font-family: 'Ogg-Roman';
		font-size: 38pt;
	}


	h2 {
		font-family: 'Ogg-Roman';
		font-size: 16pt;
	}

	#intro {
		width: 230mm;
		margin-left: 30mm;
	}

	#part1 {
		width: 160mm;
		margin-left: 85mm;
	}

	.images {
		position: absolute !important;
		width: 40mm !important;
		height: auto !important;
		margin-left: 29mm !important;
		padding: 3mm !important;
		


	}
	.ticker {
		display: none;
	}
	.references {
		display: inline-block;
	}

	#fn1 {
		width: 90mm;
		height: auto;
		bottom: 0;
	}



}