@font-face {
  font-family: 'Ogg-Roman';
  src: url(font/Ogg-Roman.otf) format('opentype');
}

@font-face {
  font-family: 'Ogg-Italic';
  src: url(font/Ogg-Italic.otf) format('opentype');
}

@font-face {
  font-family: 'ITC Grouch';
  src: url(font/GrouchITC.otf) format('opentype');
}

html body {
    width: 100%;
    height:100%;
    margin: 2;
    background-color: rgb(220,220,220);
/*margin: 1;
padding-bottom: 10px;*/

}

.wrapper{
    position: absolute;
    width:100%;
}

#title{
  margin-top: -4%;
width: 100%;
margin-bottom: -5%;
margin-left: 1.5%;

}

#indicator{
    position: fixed; 
    top: 80%; 
    left: 1%;
    transform: translate(0%, 50%) rotate(270deg); 
    -moz-transform: translate(0%, 50%) rotate(270deg); 
    -webkit-transform: translate(0%, 50%) rotate(270deg); 
    -ms-transform: translate(0%, 50%) rotate(270deg); 
    transform-origin: 0% 50%;

}


section {
    background-color: blue;
    margin-bottom: 1.5%;
    }

section #intro{
    position:relative; 
    width:96%;
    margin: 0 2% 0 2%;
    background-color: red;
    }
#chapters {
  float: left;
  width: 55%;
  position: relative;;
  margin-left: 1.5%;
}

#chapters h2 {
 font-size: 2em;
}
 #intro-text{
    /*position:relative;*/ 
    width:55%;
    margin-left: 1.5%;
    background-color: yellow;
    }

#part1{
    float: left;
    position:relative; 
    width:35%;
    margin-left: 10%;
   /* -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);*/

    /*background-color: pink;*/
}

#part2{

/*float: left;*/
 width:35%;
    margin-left: 10%;
    margin-top: 5%;

}


h1 { 
    position: relative; 
    
    font-family: 'Ogg-Roman';
    font-size: 80px; 

    text-transform: uppercase; 
    /*z-index: 101;*/
    }

h2 {
    font-family: 'Ogg-Roman';
    text-align: left;
    text-indent: 7%;
   padding: 0;
   margin: 0;

   }

h3 { 
    font-family: 'Ogg-Roman';
    font-size: 16px; 
    text-transform: lowercase;
    }

p {
   font-family: 'Ogg-Roman';
   font-size: 16px;
   text-align: left;
   text-indent: 7%;
   padding: 0;
   margin: 0;



}



img {
  right: 0;
top: 0;
position: absolute;
margin-right: 1.5%;
width: 20%;
height: auto;

}

img.clicked{

     left:80%;
}


/*footnotes things*/

.circle {
  position: relative;
  display: inline-block;
  margin-left:-1px;
  margin-right: 1px;
  height: 7px;
  width: 7px;
  border: 2px solid pink;
  background-color: pink;
  z-index: 11;
}

.source{
    visibility: hidden;
    width: 220px;
    font-size: 12px;
    line-height:140%;
    background-color: rgb(220,220,220);
    float: right;
    text-align: left;
    padding: 5px;
    position: fixed; 
    bottom: 5%;
    right: 2%;
    margin-right: 0;    
    opacity: 0;
    transition: opacity 1s;
    z-index: 50;

}

.circle:hover .source{
    visibility: visible;
    opacity: 1;
}

footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: rgb(220,220,220)

}
.ticker {
 height: 50px;  
 overflow: hidden;
 position: relative;
 bottom: 0;
}
.ticker h3 {
 font-size: 2em;
 /*color: limegreen;*/
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: left;
 white-space: nowrap;

 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);  
 transform:translateX(100%);
 /* Apply animation to this element */  
 -moz-animation: ticker 30s linear infinite;
 -webkit-animation: ticker 30s linear infinite;
 animation: ticker 30s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes ticker {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-1000%); }
}
@-webkit-keyframes ticker {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-1000%); }
}
@keyframes ticker {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);     
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}
